.forum {
  background-color: #c0c0b4b8;
  .forum-header {
    display: flex;
    justify-content: flex-end;
    padding: 3em;
  }

  button {
    margin-right: 1em;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    border-radius: 5px;
    border: 1px #eeb44f solid;
    background: linear-gradient(180deg, #ffc477 5%, #fb9e25 100%);
    text-shadow: 1px 1px 1px #cc9f52;
    box-shadow: inset 1px 1px 2px 0px #fce2c1;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    &:hover {
      background: linear-gradient(180deg, #fb9e25 5%, #ffc477 100%);
    }

    span {
      padding: 10px 18px;
    }
    .icon {
      font-size: 1.5em;
      margin-left: 0.5em;
    }
  }
}
