.user-profile {
  display: flex;
  justify-content: center;
  .profil-container {
    border: 1px solid rgba(0, 0, 0, 0.171);
    padding: 1em;
    border-radius: 15px;
    text-align: center;
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
    h1 {
      padding: 1em;
      font-family: Arial, Helvetica, sans-serif;
    }
    p {
      padding: 1em;
      font-size: 1.1em;
      font-style: italic;
    }
  }
}
